@theme {
	--color-primary: #334f52;
	--color-secondary: #7b888e;
	--color-brand-secondary: #1fc9e7;
	--color-bg: #eeeeee;
	--color-border: #fff;
	--color-brand: #35bfab;
	--color-card: #ffffff66;
	--color-article: #ffffffcc;

	--font-averia: 'Averia Gruesa Libre', sans-serif;
	--font-sans:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft JhengHei', 'Microsoft YaHei',
		sans-serif;
}
